*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 21px;
	color: #000;
	background: #fff;
	font-weight: 300;
	line-height: 1.4;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.header {
	background: #d3ab08;
	padding: 19px 0 18px;
	border-bottom: 2px solid #d3d3d3;
	margin-bottom: 4px;
}

.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo img {
	transition: 1s;
}

.logo:hover img {
	display: inline-block;
	transform: scaleY(1.5);
}

.main-nav-list {
	list-style: none;
	margin: -3px 6px 0 0;
	padding: 0;
}

.main-nav-list li {
	display: inline-block;
}

.main-nav-list a {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 17px;
	font-weight: 700;
	margin-left: 18px;
	transform: scaleY(0.92);
}

.main-block {
	background: #f8c601 url(../images/main-pic.jpg) 100% 50% no-repeat;
	padding: 15% 0;
	color: #fff;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
}

.text-scale {
	transform: scaleY(0.92);
}

.main-title {
	font-size: 40px;
	letter-spacing: 1px;
	margin: 20px 0 -12px 0;
}

.main-subtitle {
	font-weight: bold;
	font-style: italic;
	word-spacing: 12px;
}

.service-block {
	padding: 111px 15px 0;
}

.service-header {
	display: flex;
	padding: 0 0 102px 148px;
	align-items: center;
}

.service-title {
	margin: 0 38px 0 0;
	text-transform: uppercase;
	font-size: 50px;
	position: relative;
	letter-spacing: 1px;
}

.service-title::after {
	content: "";
	position: absolute;
	top: 14%;
	right: -7%;
	width: 7px;
	height: 47px;
	border-left: 2px solid #ffcc01;
	border-right: 2px solid #000;
}

.service-title span {
	color: #ffcc01;
}

.service-subtitle {
	font-family: 'Times New Roman', Times, serif;
	margin: 0 0 4px 0;
	word-spacing: 2px;
}

.service-subtitle span {
	display: block;
}

.service-boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 56px;
}

.box {
	display: flex;
	flex-direction: column;
	width: 47%;
	border: 6px solid #ebebeb;
	padding: 19px 105px 24px 29px;
	margin-bottom: 61px;
	box-shadow: inset 0px 0px 2px 0px rgb(0 38 68 / 20%);
	color: #000;
	text-decoration: none;
	position: relative;
	word-spacing: 5px;

}

.box h4 {
	text-transform: capitalize;
	font-weight: 500;
	font-size: 29px;
	margin: 0 0 11px 0;
	transform: scaleY(0.92);
}

.box p {
	flex-grow: 1;
	margin: 0 0 44px 0;
	transform: scaleY(0.92);
}

.box span {
	font-weight: 700;
	text-transform: uppercase;
	transform: scaleY(0.92);
	word-spacing: 2px;
}

.plane-ic {
	position: absolute;
	color: #ffcc01;
	bottom: 24px;
	right: 10px;
	font-size: 50px;
}

.box:hover span,
.box:hover .plane-ic {
	color: #fff;
}

.box:hover {
	background: #ffcc01;
	border: none;
}

.footer {
	padding: 75px 0 62px;
	text-align: center;
	background: #ffcc01;
}

.footer p {
	font-family: 'Times New Roman', Times, serif;
	margin: 0 0 0 -47px;
	font-size: 25px;
	color: #fff;
	transform: scaleY(0.92);
	letter-spacing: 1px;
	font-variant: small-caps;
}

.icons {
	position: relative;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	background: black;
	color: #fff;
	margin: 0 16px 44px 0;
	width: 75px;
	height: 75px;
	font-size: 26px;

}

.icons .ic {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}